Ny_Weather_Data

In [3]:
import pandas as pd # type: ignore
df=pd.read_csv(r"D:\Python Practice\Python_Pandas\1\weather_data_nyc.csv")
df

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0
...,...,...,...,...,...,...,...
361,27-12-2016,60,40,50.0,0,0,0
362,28-12-2016,40,34,37.0,0,0,0
363,29-12-2016,46,33,39.5,0.39,0,0
364,30-12-2016,40,33,36.5,0.01,T,0
365,31-12-2016,44,31,37.5,0,0,0

In [4]:
df["date"][df["maximum temperature"]==40]

1        2-1-2016
10      11-1-2016
36       6-2-2016
53      23-2-2016
355    21-12-2016
362    28-12-2016
364    30-12-2016
Name: date, dtype: object

In [5]:
df["maximum temperature"].max()

96

In [6]:
df["average temperature"].mean()

57.21584699453552

: